flows.json
[
    {
        "id": "535331d8.55c1f",
        "type": "tab",
        "label": "Basics - Messages",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ac14500e.2c57d",
        "type": "tab",
        "label": "Basics - Flow control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fc046f99.4be08",
        "type": "tab",
        "label": "Basics - Error handling",
        "disabled": false,
        "info": ""
    },
    {
        "id": "64133d39.bb0394",
        "type": "tab",
        "label": "Basic - Working with data formats",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3045204d.cfbae",
        "type": "tab",
        "label": "HTTP endpoints",
        "disabled": false,
        "info": ""
    },
    {
        "id": "55635136.aa9cb",
        "type": "tab",
        "label": "HTTP requests",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b571704d.6c591",
        "type": "tab",
        "label": "MQTT",
        "disabled": true,
        "info": ""
    },
    {
        "id": "b439d8b0.991988",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "59ff2a1.fa600d4",
        "type": "http in",
        "z": "3045204d.cfbae",
        "name": "",
        "url": "/hello",
        "method": "get",
        "swaggerDoc": "",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "54c1e70d.ab3e18"
            ]
        ]
    },
    {
        "id": "266c286f.d993d8",
        "type": "http response",
        "z": "3045204d.cfbae",
        "name": "",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "54c1e70d.ab3e18",
        "type": "template",
        "z": "3045204d.cfbae",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>",
        "x": 250,
        "y": 80,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "1052941d.efad6c",
        "type": "http in",
        "z": "3045204d.cfbae",
        "name": "",
        "url": "/hello-query",
        "method": "get",
        "swaggerDoc": "",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "b34dd1af.4cb23"
            ]
        ]
    },
    {
        "id": "b828f6a6.47d708",
        "type": "http response",
        "z": "3045204d.cfbae",
        "name": "",
        "x": 430,
        "y": 180,
        "wires": []
    },
    {
        "id": "b34dd1af.4cb23",
        "type": "template",
        "z": "3045204d.cfbae",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "b828f6a6.47d708"
            ]
        ]
    },
    {
        "id": "ce53954b.31ac68",
        "type": "http response",
        "z": "3045204d.cfbae",
        "name": "",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "288a7c0.fd77584",
        "type": "template",
        "z": "3045204d.cfbae",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.name}}!</h1>\n    </body>\n</html>",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "ce53954b.31ac68"
            ]
        ]
    },
    {
        "id": "7665c67d.899a38",
        "type": "http in",
        "z": "3045204d.cfbae",
        "name": "",
        "url": "/hello-param/:name",
        "method": "get",
        "swaggerDoc": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "288a7c0.fd77584"
            ]
        ]
    },
    {
        "id": "92eaf6c0.6d1508",
        "type": "inject",
        "z": "3045204d.cfbae",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 480,
        "wires": [
            [
                "8055b557.7faa48"
            ]
        ]
    },
    {
        "id": "8055b557.7faa48",
        "type": "change",
        "z": "3045204d.cfbae",
        "name": "Store time",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "93bf2335.6c40e",
        "type": "http in",
        "z": "3045204d.cfbae",
        "name": "",
        "url": "/hello-data",
        "method": "get",
        "swaggerDoc": "",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "9e3aa25e.61c56"
            ]
        ]
    },
    {
        "id": "def756a1.2108a8",
        "type": "http response",
        "z": "3045204d.cfbae",
        "name": "",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "f2c385a.f0d3c78",
        "type": "template",
        "z": "3045204d.cfbae",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Time: {{ timestamp }}</h1>\n    </body>\n</html>",
        "x": 470,
        "y": 520,
        "wires": [
            [
                "def756a1.2108a8"
            ]
        ]
    },
    {
        "id": "9e3aa25e.61c56",
        "type": "change",
        "z": "3045204d.cfbae",
        "name": "Copy time",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "timestamp",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "f2c385a.f0d3c78"
            ]
        ]
    },
    {
        "id": "291d5680.d6e2aa",
        "type": "comment",
        "z": "3045204d.cfbae",
        "name": "Create an HTTP Endpoint",
        "info": "    curl http://localhost:1880/hello",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "f26288ce.0d9d78",
        "type": "comment",
        "z": "3045204d.cfbae",
        "name": "Handle query parameters passed to an HTTP endpoint",
        "info": "    curl http://localhost:1880/hello-query?name=Nick",
        "x": 220,
        "y": 140,
        "wires": []
    },
    {
        "id": "f7d4f2bf.082b1",
        "type": "comment",
        "z": "3045204d.cfbae",
        "name": "Handle url parameters in an HTTP endpoint",
        "info": "    curl http://localhost:1880/hello-query/Nick",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "97c71382.6838f",
        "type": "comment",
        "z": "3045204d.cfbae",
        "name": "Include data captured in another flow",
        "info": "    curl http://localhost:1880/hello-data",
        "x": 170,
        "y": 440,
        "wires": []
    },
    {
        "id": "c8107088.37ef9",
        "type": "http in",
        "z": "3045204d.cfbae",
        "name": "",
        "url": "/hello-json",
        "method": "get",
        "swaggerDoc": "",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "4e8237da.b17dc8"
            ]
        ]
    },
    {
        "id": "f7d3e35a.082c2",
        "type": "http response",
        "z": "3045204d.cfbae",
        "name": "",
        "x": 610,
        "y": 620,
        "wires": []
    },
    {
        "id": "4e8237da.b17dc8",
        "type": "template",
        "z": "3045204d.cfbae",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{ \"Hello\": \"World\" }",
        "x": 290,
        "y": 620,
        "wires": [
            [
                "65401623.9abfe8"
            ]
        ]
    },
    {
        "id": "d737e5a0.28c818",
        "type": "comment",
        "z": "3045204d.cfbae",
        "name": "Serve JSON content",
        "info": "    curl http://localhost:1880/hello-json",
        "x": 110,
        "y": 580,
        "wires": []
    },
    {
        "id": "65401623.9abfe8",
        "type": "change",
        "z": "3045204d.cfbae",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 620,
        "wires": [
            [
                "f7d3e35a.082c2"
            ]
        ]
    },
    {
        "id": "c7e341a0.381cc",
        "type": "http in",
        "z": "3045204d.cfbae",
        "name": "",
        "url": "/hello-file",
        "method": "get",
        "swaggerDoc": "",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "2fb1c354.d04e3c"
            ]
        ]
    },
    {
        "id": "88974243.7768c",
        "type": "http response",
        "z": "3045204d.cfbae",
        "name": "",
        "x": 610,
        "y": 720,
        "wires": []
    },
    {
        "id": "84fb0840.7b04f8",
        "type": "comment",
        "z": "3045204d.cfbae",
        "name": "Serve a local file",
        "info": "Without content-type set, the browser will\ndownload the file rather than display it.\n\nNeed to set content-type to the correct\nmime type for the file.\n\n    curl http://localhost:1880/hello-file",
        "x": 100,
        "y": 680,
        "wires": []
    },
    {
        "id": "c9e28681.361d78",
        "type": "change",
        "z": "3045204d.cfbae",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "image/png",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 720,
        "wires": [
            [
                "88974243.7768c"
            ]
        ]
    },
    {
        "id": "2fb1c354.d04e3c",
        "type": "file in",
        "z": "3045204d.cfbae",
        "name": "",
        "filename": "/tmp/node-red.png",
        "format": "",
        "x": 290,
        "y": 720,
        "wires": [
            [
                "c9e28681.361d78"
            ]
        ]
    },
    {
        "id": "5b98a8ac.a46758",
        "type": "http in",
        "z": "3045204d.cfbae",
        "name": "",
        "url": "/hello-form",
        "method": "post",
        "swaggerDoc": "",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "bba61009.4459f"
            ]
        ]
    },
    {
        "id": "bba61009.4459f",
        "type": "template",
        "z": "3045204d.cfbae",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>",
        "x": 290,
        "y": 920,
        "wires": [
            [
                "6ceb930a.93146c"
            ]
        ]
    },
    {
        "id": "6ceb930a.93146c",
        "type": "http response",
        "z": "3045204d.cfbae",
        "name": "",
        "x": 430,
        "y": 920,
        "wires": []
    },
    {
        "id": "f9cc40a3.0633c",
        "type": "comment",
        "z": "3045204d.cfbae",
        "name": "Post form/JSON data",
        "info": "Posting form data - `application/x-www-form-urlencoded`\n\n    curl -X POST -d \"name=Nick\" http://localhost:1880/hello-form\n    \n    \nPosting JSON data - `application/json`\n\n    curl -X POST -d '{\"name\":\"Nick\"}' -h \"Content-type: application/json\" http://localhost:1880/hello-form",
        "x": 120,
        "y": 880,
        "wires": []
    },
    {
        "id": "3e1c5107.c1e3ae",
        "type": "http in",
        "z": "3045204d.cfbae",
        "name": "",
        "url": "/hello-raw",
        "method": "post",
        "swaggerDoc": "",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "cf679478.309868"
            ]
        ]
    },
    {
        "id": "cf679478.309868",
        "type": "template",
        "z": "3045204d.cfbae",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload }}!</h1>\n    </body>\n</html>",
        "x": 290,
        "y": 820,
        "wires": [
            [
                "f3c1a3f0.0c3e6"
            ]
        ]
    },
    {
        "id": "f3c1a3f0.0c3e6",
        "type": "http response",
        "z": "3045204d.cfbae",
        "name": "",
        "x": 430,
        "y": 820,
        "wires": []
    },
    {
        "id": "932fb31d.6cd05",
        "type": "comment",
        "z": "3045204d.cfbae",
        "name": "Post raw data",
        "info": "Posting raw data - `text/plain`\n\n    curl -X POST -d 'Nick' -h \"Content-type: text/plain\" http://localhost:1880/hello-raw",
        "x": 90,
        "y": 780,
        "wires": []
    },
    {
        "id": "b3531892.4cace8",
        "type": "http response",
        "z": "3045204d.cfbae",
        "name": "",
        "x": 450,
        "y": 380,
        "wires": []
    },
    {
        "id": "24199456.dbe66c",
        "type": "template",
        "z": "3045204d.cfbae",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>User agent: {{req.headers.user-agent}}</h1>\n    </body>\n</html>",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "b3531892.4cace8"
            ]
        ]
    },
    {
        "id": "c1460268.3eba",
        "type": "http in",
        "z": "3045204d.cfbae",
        "name": "",
        "url": "/hello-headers",
        "method": "get",
        "swaggerDoc": "",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "24199456.dbe66c"
            ]
        ]
    },
    {
        "id": "b134c227.4ecb4",
        "type": "comment",
        "z": "3045204d.cfbae",
        "name": "Access HTTP request headers",
        "info": "    curl http://localhost:1880/hello-query/Nick",
        "x": 140,
        "y": 340,
        "wires": []
    },
    {
        "id": "7c87b536.83784c",
        "type": "inject",
        "z": "55635136.aa9cb",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "7de918a6.8216e8"
            ]
        ]
    },
    {
        "id": "7de918a6.8216e8",
        "type": "http request",
        "z": "55635136.aa9cb",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://localhost:1880/hello",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "b7f7541b.4808a8"
            ]
        ]
    },
    {
        "id": "b7f7541b.4808a8",
        "type": "debug",
        "z": "55635136.aa9cb",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "ff8148a.f007eb8",
        "type": "comment",
        "z": "55635136.aa9cb",
        "name": "Simple GET request",
        "info": "    curl http://localhost:1880/hello",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "b327e181.4cd82",
        "type": "debug",
        "z": "55635136.aa9cb",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "46c6f199.b9391",
        "type": "http request",
        "z": "55635136.aa9cb",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "b327e181.4cd82"
            ]
        ]
    },
    {
        "id": "4ff96482.b0069c",
        "type": "inject",
        "z": "55635136.aa9cb",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 180,
        "wires": [
            [
                "4ed40187.b12c"
            ]
        ]
    },
    {
        "id": "f448390.f0bb7c8",
        "type": "comment",
        "z": "55635136.aa9cb",
        "name": "Set the url of a request",
        "info": "",
        "x": 120,
        "y": 140,
        "wires": []
    },
    {
        "id": "4ed40187.b12c",
        "type": "change",
        "z": "55635136.aa9cb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://localhost:1880/hello",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "46c6f199.b9391"
            ]
        ]
    },
    {
        "id": "5b4b474b.a4b4b8",
        "type": "debug",
        "z": "55635136.aa9cb",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 430,
        "y": 280,
        "wires": []
    },
    {
        "id": "71e9d373.8e162c",
        "type": "http request",
        "z": "55635136.aa9cb",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://localhost:1880/{{payload}}",
        "x": 250,
        "y": 280,
        "wires": [
            [
                "5b4b474b.a4b4b8"
            ]
        ]
    },
    {
        "id": "c472d104.3b8d3",
        "type": "inject",
        "z": "55635136.aa9cb",
        "name": "",
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 280,
        "wires": [
            [
                "71e9d373.8e162c"
            ]
        ]
    },
    {
        "id": "4ebc2616.b143d8",
        "type": "comment",
        "z": "55635136.aa9cb",
        "name": "Set the url of a request using a template",
        "info": "",
        "x": 170,
        "y": 240,
        "wires": []
    },
    {
        "id": "c6cf0634.3930f8",
        "type": "comment",
        "z": "55635136.aa9cb",
        "name": "Get a parsed JSON response",
        "info": "",
        "x": 140,
        "y": 440,
        "wires": []
    },
    {
        "id": "8affc21e.75004",
        "type": "http request",
        "z": "55635136.aa9cb",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "http://localhost:1880/hello-json",
        "x": 270,
        "y": 480,
        "wires": [
            [
                "43ea475.fbc15b8"
            ]
        ]
    },
    {
        "id": "aa440812.55bbf8",
        "type": "inject",
        "z": "55635136.aa9cb",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 480,
        "wires": [
            [
                "8affc21e.75004"
            ]
        ]
    },
    {
        "id": "43ea475.fbc15b8",
        "type": "debug",
        "z": "55635136.aa9cb",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 450,
        "y": 480,
        "wires": []
    },
    {
        "id": "f57bc2d1.0a844",
        "type": "comment",
        "z": "55635136.aa9cb",
        "name": "Get a binary response",
        "info": "",
        "x": 120,
        "y": 540,
        "wires": []
    },
    {
        "id": "32d77788.cd2888",
        "type": "http request",
        "z": "55635136.aa9cb",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "url": "http://localhost:1880/hello-file",
        "x": 270,
        "y": 580,
        "wires": [
            [
                "7822845c.87dd7c"
            ]
        ]
    },
    {
        "id": "22b454a3.dd4bac",
        "type": "inject",
        "z": "55635136.aa9cb",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 580,
        "wires": [
            [
                "32d77788.cd2888"
            ]
        ]
    },
    {
        "id": "7822845c.87dd7c",
        "type": "debug",
        "z": "55635136.aa9cb",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 450,
        "y": 580,
        "wires": []
    },
    {
        "id": "ee917332.116e9",
        "type": "comment",
        "z": "55635136.aa9cb",
        "name": "Set a request header",
        "info": "",
        "x": 110,
        "y": 640,
        "wires": []
    },
    {
        "id": "95b08db.f6a4f7",
        "type": "http request",
        "z": "55635136.aa9cb",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://localhost:1880/hello-headers",
        "x": 510,
        "y": 680,
        "wires": [
            [
                "709ae1bd.8f652"
            ]
        ]
    },
    {
        "id": "eb1c00a6.14e4",
        "type": "inject",
        "z": "55635136.aa9cb",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 680,
        "wires": [
            [
                "9edab692.612548"
            ]
        ]
    },
    {
        "id": "709ae1bd.8f652",
        "type": "debug",
        "z": "55635136.aa9cb",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 690,
        "y": 680,
        "wires": []
    },
    {
        "id": "9edab692.612548",
        "type": "change",
        "z": "55635136.aa9cb",
        "name": "Set user-agent header",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.user-agent",
                "pt": "msg",
                "to": "Node-RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 680,
        "wires": [
            [
                "95b08db.f6a4f7"
            ]
        ]
    },
    {
        "id": "2e423233.d1bdce",
        "type": "debug",
        "z": "55635136.aa9cb",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "3da6c27e.c2593e",
        "type": "http request",
        "z": "55635136.aa9cb",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://localhost:1880/hello-query?{{{querystring}}}",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "2e423233.d1bdce"
            ]
        ]
    },
    {
        "id": "7a12b5ce.85ed4c",
        "type": "inject",
        "z": "55635136.aa9cb",
        "name": "",
        "topic": "",
        "payload": "{\"name\":\"Nick\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 380,
        "wires": [
            [
                "6b4a532f.94b5ac"
            ]
        ]
    },
    {
        "id": "73e91392.8c16ec",
        "type": "comment",
        "z": "55635136.aa9cb",
        "name": "Set query string parameters",
        "info": "The url template must use {{{triple}}}-braces\nso it doesn't get escaped",
        "x": 140,
        "y": 340,
        "wires": []
    },
    {
        "id": "6b4a532f.94b5ac",
        "type": "function",
        "z": "55635136.aa9cb",
        "name": "Create query string",
        "func": "var params = [];\nfor (var i in msg.payload) {\n    params.push(encodeURIComponent(i)+\"=\"+encodeURIComponent(msg.payload[i]));\n}\nmsg.querystring = params.join(\"&\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 380,
        "wires": [
            [
                "3da6c27e.c2593e"
            ]
        ]
    },
    {
        "id": "2ce1c654.d31e3a",
        "type": "comment",
        "z": "55635136.aa9cb",
        "name": "* Respond with the result of an HTTP request",
        "info": "    curl http://localhost:1880/hello-proxy",
        "x": 190,
        "y": 740,
        "wires": []
    },
    {
        "id": "469ba167.b9646",
        "type": "http in",
        "z": "55635136.aa9cb",
        "name": "",
        "url": "/hello-proxy",
        "method": "get",
        "swaggerDoc": "",
        "x": 100,
        "y": 780,
        "wires": [
            [
                "5b9e37fc.a461c8"
            ]
        ]
    },
    {
        "id": "682a00c2.97d6",
        "type": "change",
        "z": "55635136.aa9cb",
        "name": "Clear headers",
        "rules": [
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 780,
        "wires": [
            [
                "ffdd6315.0022a"
            ]
        ]
    },
    {
        "id": "ffdd6315.0022a",
        "type": "http response",
        "z": "55635136.aa9cb",
        "name": "",
        "x": 650,
        "y": 780,
        "wires": []
    },
    {
        "id": "5b9e37fc.a461c8",
        "type": "http request",
        "z": "55635136.aa9cb",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://localhost:1880/hello",
        "x": 290,
        "y": 780,
        "wires": [
            [
                "682a00c2.97d6"
            ]
        ]
    },
    {
        "id": "c362b989.954ae8",
        "type": "http in",
        "z": "3045204d.cfbae",
        "name": "",
        "url": "/hello-cookie",
        "method": "get",
        "swaggerDoc": "",
        "x": 130,
        "y": 1020,
        "wires": [
            [
                "21ddf71f.d00518"
            ]
        ]
    },
    {
        "id": "f3aa98c1.befc18",
        "type": "template",
        "z": "3045204d.cfbae",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Cookies</h1>\n        <p></p><a href=\"hello-cookie/add\">Add a cookie</a> &bull; <a href=\"hello-cookie/clear\">Clear cookies</a></p>\n        <pre>{{ payload }}</pre>\n    </body>\n</html>",
        "x": 530,
        "y": 1020,
        "wires": [
            [
                "f52e2880.180968"
            ]
        ]
    },
    {
        "id": "f52e2880.180968",
        "type": "http response",
        "z": "3045204d.cfbae",
        "name": "",
        "x": 750,
        "y": 1020,
        "wires": []
    },
    {
        "id": "64ff5340.82cb0c",
        "type": "comment",
        "z": "3045204d.cfbae",
        "name": "Work with cookies",
        "info": "",
        "x": 110,
        "y": 980,
        "wires": []
    },
    {
        "id": "fda60c66.04975",
        "type": "http in",
        "z": "3045204d.cfbae",
        "name": "",
        "url": "/hello-cookie/add",
        "method": "get",
        "swaggerDoc": "",
        "x": 140,
        "y": 1060,
        "wires": [
            [
                "afefb90.53dcf48"
            ]
        ]
    },
    {
        "id": "afefb90.53dcf48",
        "type": "function",
        "z": "3045204d.cfbae",
        "name": "Add a cookie",
        "func": "msg.cookies = { };\nmsg.cookies[\"demo-\"+(Math.floor(Math.random()*1000))] = Date.now();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 1060,
        "wires": [
            [
                "9a2a9a4.0fc0768"
            ]
        ]
    },
    {
        "id": "35285a76.1f8636",
        "type": "http in",
        "z": "3045204d.cfbae",
        "name": "",
        "url": "/hello-cookie/clear",
        "method": "get",
        "swaggerDoc": "",
        "x": 140,
        "y": 1100,
        "wires": [
            [
                "d5205a2c.db9018"
            ]
        ]
    },
    {
        "id": "d5205a2c.db9018",
        "type": "function",
        "z": "3045204d.cfbae",
        "name": "Clear cookies",
        "func": "// Find demo cookies and clear them\nvar cookieNames = Object.keys(msg.req.cookies).filter(function(cookieName) { return /^demo-/.test(cookieName);});\nmsg.cookies = {};\n\ncookieNames.forEach(function(cookieName) {\n    msg.cookies[cookieName] = null;\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 1100,
        "wires": [
            [
                "9a2a9a4.0fc0768"
            ]
        ]
    },
    {
        "id": "9a2a9a4.0fc0768",
        "type": "change",
        "z": "3045204d.cfbae",
        "name": "Redirect to /hello-cookie",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "302",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.location",
                "pt": "msg",
                "to": "/hello-cookie",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1080,
        "wires": [
            [
                "f52e2880.180968"
            ]
        ]
    },
    {
        "id": "21ddf71f.d00518",
        "type": "function",
        "z": "3045204d.cfbae",
        "name": "Format cookies",
        "func": "msg.payload = JSON.stringify(msg.req.cookies,null,4);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 1020,
        "wires": [
            [
                "f3aa98c1.befc18"
            ]
        ]
    },
    {
        "id": "d72dc4ce.89b368",
        "type": "inject",
        "z": "535331d8.55c1f",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "78075f19.e0174"
            ]
        ]
    },
    {
        "id": "78075f19.e0174",
        "type": "change",
        "z": "535331d8.55c1f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Hello World!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "78dc7c25.b90d54"
            ]
        ]
    },
    {
        "id": "78dc7c25.b90d54",
        "type": "debug",
        "z": "535331d8.55c1f",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "852f98f5.6f3b48",
        "type": "comment",
        "z": "535331d8.55c1f",
        "name": "Set a message property to a fixed value",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "91cd2fa9.e0a96",
        "type": "inject",
        "z": "535331d8.55c1f",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "54ec03e4.5714bc"
            ]
        ]
    },
    {
        "id": "54ec03e4.5714bc",
        "type": "change",
        "z": "535331d8.55c1f",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "321900de.3cbea"
            ]
        ]
    },
    {
        "id": "321900de.3cbea",
        "type": "debug",
        "z": "535331d8.55c1f",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "f491148d.d35fc8",
        "type": "comment",
        "z": "535331d8.55c1f",
        "name": "Delete message property",
        "info": "",
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "d11f7311.77c15",
        "type": "inject",
        "z": "535331d8.55c1f",
        "name": "",
        "topic": "Hello",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "13c01487.eb13cb"
            ]
        ]
    },
    {
        "id": "13c01487.eb13cb",
        "type": "change",
        "z": "535331d8.55c1f",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 280,
        "wires": [
            [
                "89cc4fb1.9b208"
            ]
        ]
    },
    {
        "id": "89cc4fb1.9b208",
        "type": "debug",
        "z": "535331d8.55c1f",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "dca48356.d3261",
        "type": "comment",
        "z": "535331d8.55c1f",
        "name": "Move message property",
        "info": "",
        "x": 130,
        "y": 240,
        "wires": []
    },
    {
        "id": "80dae67d.b4d8f8",
        "type": "inject",
        "z": "535331d8.55c1f",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "81f13534.456348"
            ]
        ]
    },
    {
        "id": "e80b61d7.4b399",
        "type": "debug",
        "z": "535331d8.55c1f",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 550,
        "y": 420,
        "wires": []
    },
    {
        "id": "deb8d8cc.47a748",
        "type": "comment",
        "z": "535331d8.55c1f",
        "name": "Map numeric range",
        "info": "",
        "x": 110,
        "y": 340,
        "wires": []
    },
    {
        "id": "cb21de23.75a2f",
        "type": "inject",
        "z": "535331d8.55c1f",
        "name": "",
        "topic": "",
        "payload": "512",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "81f13534.456348"
            ]
        ]
    },
    {
        "id": "342552de.255a1e",
        "type": "inject",
        "z": "535331d8.55c1f",
        "name": "",
        "topic": "",
        "payload": "1023",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "81f13534.456348"
            ]
        ]
    },
    {
        "id": "81f13534.456348",
        "type": "range",
        "z": "535331d8.55c1f",
        "minin": "0",
        "maxin": "1023",
        "minout": "0",
        "maxout": "5",
        "action": "clamp",
        "round": false,
        "name": "",
        "x": 350,
        "y": 420,
        "wires": [
            [
                "e80b61d7.4b399"
            ]
        ]
    },
    {
        "id": "80da1f72.7a01e",
        "type": "comment",
        "z": "b571704d.6c591",
        "name": "Connect to an MQTT Broker",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "5d3fc91.775a038",
        "type": "mqtt out",
        "z": "b571704d.6c591",
        "name": "",
        "topic": "sensors/livingroom/temp",
        "qos": "",
        "retain": "",
        "broker": "b439d8b0.991988",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "c548c8e9.801fa8",
        "type": "inject",
        "z": "b571704d.6c591",
        "name": "",
        "topic": "",
        "payload": "22",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "5d3fc91.775a038"
            ]
        ]
    },
    {
        "id": "6ae5ef55.9290b",
        "type": "mqtt in",
        "z": "b571704d.6c591",
        "name": "",
        "topic": "sensors/livingroom/temp",
        "qos": "2",
        "broker": "b439d8b0.991988",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "e314de99.9048f"
            ]
        ]
    },
    {
        "id": "e314de99.9048f",
        "type": "debug",
        "z": "b571704d.6c591",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "eb2fc778.d4a378",
        "type": "comment",
        "z": "b571704d.6c591",
        "name": "Publish to a Topic",
        "info": "",
        "x": 110,
        "y": 180,
        "wires": []
    },
    {
        "id": "3dfed8ec.e91a78",
        "type": "mqtt out",
        "z": "b571704d.6c591",
        "name": "",
        "topic": "sensors/livingroom/temp",
        "qos": "",
        "retain": "",
        "broker": "b439d8b0.991988",
        "x": 330,
        "y": 220,
        "wires": []
    },
    {
        "id": "73a82491.feb28c",
        "type": "inject",
        "z": "b571704d.6c591",
        "name": "temperature",
        "topic": "",
        "payload": "22",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "3dfed8ec.e91a78"
            ]
        ]
    },
    {
        "id": "7bea6336.0d6cdc",
        "type": "comment",
        "z": "b571704d.6c591",
        "name": "Set the topic of a published message",
        "info": "",
        "x": 170,
        "y": 280,
        "wires": []
    },
    {
        "id": "d554d542.0cf108",
        "type": "mqtt out",
        "z": "b571704d.6c591",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "b439d8b0.991988",
        "x": 310,
        "y": 320,
        "wires": []
    },
    {
        "id": "c5efd98e.9ad2f8",
        "type": "inject",
        "z": "b571704d.6c591",
        "name": "kitchen temperature",
        "topic": "sensors/kitchen/temperature",
        "payload": "22",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "d554d542.0cf108"
            ]
        ]
    },
    {
        "id": "58c99d82.dbfd54",
        "type": "comment",
        "z": "b571704d.6c591",
        "name": "Subscribe to a Topic",
        "info": "",
        "x": 110,
        "y": 480,
        "wires": []
    },
    {
        "id": "5c92c689.b67458",
        "type": "mqtt in",
        "z": "b571704d.6c591",
        "name": "",
        "topic": "sensors/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "b439d8b0.991988",
        "x": 80,
        "y": 520,
        "wires": [
            [
                "a26e21e1.de075"
            ]
        ]
    },
    {
        "id": "a26e21e1.de075",
        "type": "debug",
        "z": "b571704d.6c591",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 230,
        "y": 520,
        "wires": []
    },
    {
        "id": "a172eabf.7b7218",
        "type": "comment",
        "z": "b571704d.6c591",
        "name": "Publish a retained message to a topic",
        "info": "",
        "x": 170,
        "y": 380,
        "wires": []
    },
    {
        "id": "9f9556a3.c298d8",
        "type": "mqtt out",
        "z": "b571704d.6c591",
        "name": "",
        "topic": "sensors/livingroom/temp",
        "qos": "",
        "retain": "true",
        "broker": "b439d8b0.991988",
        "x": 310,
        "y": 420,
        "wires": []
    },
    {
        "id": "a55dd0e1.a02ae",
        "type": "inject",
        "z": "b571704d.6c591",
        "name": "temperature",
        "topic": "",
        "payload": "22",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "9f9556a3.c298d8"
            ]
        ]
    },
    {
        "id": "12526f79.5dc901",
        "type": "comment",
        "z": "b571704d.6c591",
        "name": "Receive a Parsed JSON Message",
        "info": "",
        "x": 160,
        "y": 580,
        "wires": []
    },
    {
        "id": "12f4b1f9.ef698e",
        "type": "mqtt in",
        "z": "b571704d.6c591",
        "name": "",
        "topic": "sensors/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "b439d8b0.991988",
        "x": 240,
        "y": 680,
        "wires": [
            [
                "177dcc5c.4fc9e4"
            ]
        ]
    },
    {
        "id": "c755b9fb.a6e4b8",
        "type": "debug",
        "z": "b571704d.6c591",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 510,
        "y": 680,
        "wires": []
    },
    {
        "id": "54039f03.f1f82",
        "type": "mqtt out",
        "z": "b571704d.6c591",
        "name": "",
        "topic": "sensors/livingroom/temp",
        "qos": "",
        "retain": "false",
        "broker": "b439d8b0.991988",
        "x": 290,
        "y": 620,
        "wires": []
    },
    {
        "id": "6ecdedfb.c83784",
        "type": "inject",
        "z": "b571704d.6c591",
        "name": "temp json",
        "topic": "",
        "payload": "{\"sensor_id\":1234,\"temperature\":13}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 620,
        "wires": [
            [
                "54039f03.f1f82"
            ]
        ]
    },
    {
        "id": "177dcc5c.4fc9e4",
        "type": "json",
        "z": "b571704d.6c591",
        "name": "",
        "pretty": false,
        "x": 370,
        "y": 680,
        "wires": [
            [
                "c755b9fb.a6e4b8"
            ]
        ]
    },
    {
        "id": "265b1392.ee67ec",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "",
        "topic": "",
        "payload": "Started!",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "2443ea4e.859c46"
            ]
        ]
    },
    {
        "id": "2443ea4e.859c46",
        "type": "debug",
        "z": "ac14500e.2c57d",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "5d96e2bf.be9ddc",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "83bc41f5.4f2fb"
            ]
        ]
    },
    {
        "id": "83bc41f5.4f2fb",
        "type": "debug",
        "z": "ac14500e.2c57d",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "f990b44f.7b5fa8",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "",
        "topic": "",
        "payload": "It is 4pm on a weekday!",
        "payloadType": "str",
        "repeat": "",
        "crontab": "00 16 * * 1,2,3,4,5",
        "once": false,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "e692b739.966c98"
            ]
        ]
    },
    {
        "id": "e692b739.966c98",
        "type": "debug",
        "z": "ac14500e.2c57d",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "136cee19.ca58b2",
        "type": "comment",
        "z": "ac14500e.2c57d",
        "name": "Trigger a flow whenever Node-RED starts",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "a6d5600.1c7eea",
        "type": "comment",
        "z": "ac14500e.2c57d",
        "name": "Trigger a flow at regular intervals",
        "info": "",
        "x": 150,
        "y": 140,
        "wires": []
    },
    {
        "id": "3acad048.5c037",
        "type": "comment",
        "z": "ac14500e.2c57d",
        "name": "Trigger a flow at a specific time",
        "info": "",
        "x": 150,
        "y": 240,
        "wires": []
    },
    {
        "id": "a7fce675.df3738",
        "type": "comment",
        "z": "ac14500e.2c57d",
        "name": "Route a message based on one of its properties",
        "info": "",
        "x": 200,
        "y": 340,
        "wires": []
    },
    {
        "id": "bbfb8d73.afa31",
        "type": "comment",
        "z": "ac14500e.2c57d",
        "name": "Route a message based on a context property",
        "info": "",
        "x": 190,
        "y": 520,
        "wires": []
    },
    {
        "id": "e5761a48.6ace18",
        "type": "comment",
        "z": "ac14500e.2c57d",
        "name": "Perform an operation on each element in an array",
        "info": "",
        "x": 200,
        "y": 880,
        "wires": []
    },
    {
        "id": "508c5fc0.cd11e",
        "type": "comment",
        "z": "ac14500e.2c57d",
        "name": "Trigger a flow if a message isnt received after a defined time",
        "info": "",
        "x": 240,
        "y": 1100,
        "wires": []
    },
    {
        "id": "11644ecd.879951",
        "type": "comment",
        "z": "ac14500e.2c57d",
        "name": "Drop messages that have not changed value",
        "info": "",
        "x": 190,
        "y": 1460,
        "wires": []
    },
    {
        "id": "cd480112.39f77",
        "type": "comment",
        "z": "ac14500e.2c57d",
        "name": "Send placeholder messages when a stream stops sending",
        "info": "",
        "x": 230,
        "y": 1620,
        "wires": []
    },
    {
        "id": "db551bcf.2c92c8",
        "type": "comment",
        "z": "fc046f99.4be08",
        "name": "Trigger a flow when a node throws an error",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "847e1c97.0ea93",
        "type": "comment",
        "z": "64133d39.bb0394",
        "name": "Convert to/from JSON",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "8fa4a297.9f87d",
        "type": "comment",
        "z": "64133d39.bb0394",
        "name": "Split text into one message per line",
        "info": "",
        "x": 160,
        "y": 840,
        "wires": []
    },
    {
        "id": "3bc8e1d2.744abe",
        "type": "switch",
        "z": "ac14500e.2c57d",
        "name": "Route ",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pressure",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 420,
        "wires": [
            [
                "907bf3b8.def45"
            ],
            [
                "fe425938.926838"
            ],
            [
                "ec261304.52f73"
            ]
        ]
    },
    {
        "id": "be3da36c.1c142",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "",
        "topic": "temperature",
        "payload": "27",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "3bc8e1d2.744abe"
            ]
        ]
    },
    {
        "id": "f271ceef.172b3",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "",
        "topic": "humidity",
        "payload": "45",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "3bc8e1d2.744abe"
            ]
        ]
    },
    {
        "id": "907bf3b8.def45",
        "type": "debug",
        "z": "ac14500e.2c57d",
        "name": "Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "fe425938.926838",
        "type": "debug",
        "z": "ac14500e.2c57d",
        "name": "Humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 500,
        "y": 420,
        "wires": []
    },
    {
        "id": "ec261304.52f73",
        "type": "debug",
        "z": "ac14500e.2c57d",
        "name": "Pressure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 500,
        "y": 460,
        "wires": []
    },
    {
        "id": "fca957dd.9d8078",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "",
        "topic": "pressure",
        "payload": "1001",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "3bc8e1d2.744abe"
            ]
        ]
    },
    {
        "id": "b8bbbc41.f272",
        "type": "switch",
        "z": "ac14500e.2c57d",
        "name": "Context based routing",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 320,
        "y": 600,
        "wires": [
            [
                "9aa9c6b2.18a8e8"
            ],
            [
                "6ba4ec46.476794"
            ],
            [
                "a2e806c8.ffa168"
            ]
        ]
    },
    {
        "id": "9aa9c6b2.18a8e8",
        "type": "debug",
        "z": "ac14500e.2c57d",
        "name": "Output 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 540,
        "wires": []
    },
    {
        "id": "8aabdb51.e8b538",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "Set state 0",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 680,
        "wires": [
            [
                "e46083e4.1f17b"
            ]
        ]
    },
    {
        "id": "e46083e4.1f17b",
        "type": "change",
        "z": "ac14500e.2c57d",
        "name": "Set flow.state",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "6ba4ec46.476794",
        "type": "debug",
        "z": "ac14500e.2c57d",
        "name": "Output 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 600,
        "wires": []
    },
    {
        "id": "a2e806c8.ffa168",
        "type": "debug",
        "z": "ac14500e.2c57d",
        "name": "Output 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 660,
        "wires": []
    },
    {
        "id": "a62d8cdf.1bd82",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "Inject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 600,
        "wires": [
            [
                "b8bbbc41.f272"
            ]
        ]
    },
    {
        "id": "d1722dee.48db4",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "Set state 1",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 720,
        "wires": [
            [
                "e46083e4.1f17b"
            ]
        ]
    },
    {
        "id": "4bdb08de.706328",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "Set state 2",
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 760,
        "wires": [
            [
                "e46083e4.1f17b"
            ]
        ]
    },
    {
        "id": "220ce0a6.cf81e",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "Set state 3",
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 800,
        "wires": [
            [
                "e46083e4.1f17b"
            ]
        ]
    },
    {
        "id": "3149f240.c0e25e",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "Array of decimals",
        "topic": "",
        "payload": "[1.67,2.98,3.12,4.99,5.50]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 920,
        "wires": [
            [
                "bd57baa6.00f998"
            ]
        ]
    },
    {
        "id": "bd57baa6.00f998",
        "type": "split",
        "z": "ac14500e.2c57d",
        "name": "Split array",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 200,
        "y": 980,
        "wires": [
            [
                "7ab9e9ed.d514b8"
            ]
        ]
    },
    {
        "id": "7ab9e9ed.d514b8",
        "type": "range",
        "z": "ac14500e.2c57d",
        "minin": "0",
        "maxin": "10",
        "minout": "0",
        "maxout": "10",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "Round value",
        "x": 350,
        "y": 980,
        "wires": [
            [
                "f26660ab.007b3"
            ]
        ]
    },
    {
        "id": "f26660ab.007b3",
        "type": "join",
        "z": "ac14500e.2c57d",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 490,
        "y": 980,
        "wires": [
            [
                "f9b5abac.f13828"
            ]
        ]
    },
    {
        "id": "f9b5abac.f13828",
        "type": "debug",
        "z": "ac14500e.2c57d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 1040,
        "wires": []
    },
    {
        "id": "38caaff4.03f6d",
        "type": "trigger",
        "z": "ac14500e.2c57d",
        "op1": "",
        "op2": "timeout",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "Watchdog",
        "x": 270,
        "y": 1180,
        "wires": [
            [
                "ae477709.016088"
            ]
        ]
    },
    {
        "id": "3da6946e.184a5c",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 1140,
        "wires": [
            [
                "38caaff4.03f6d",
                "6ea53ad8.2362a4"
            ]
        ]
    },
    {
        "id": "6ea53ad8.2362a4",
        "type": "debug",
        "z": "ac14500e.2c57d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 450,
        "y": 1140,
        "wires": []
    },
    {
        "id": "ae477709.016088",
        "type": "debug",
        "z": "ac14500e.2c57d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 450,
        "y": 1180,
        "wires": []
    },
    {
        "id": "b316b702.160fa8",
        "type": "comment",
        "z": "ac14500e.2c57d",
        "name": "Limit the rate of messages passing through a flow",
        "info": "",
        "x": 210,
        "y": 1240,
        "wires": []
    },
    {
        "id": "bd97c8ed.a5c8d8",
        "type": "delay",
        "z": "ac14500e.2c57d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 390,
        "y": 1280,
        "wires": [
            [
                "bd66f03e.bdf0c"
            ]
        ]
    },
    {
        "id": "1fccc223.7ba87e",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "Inject Array",
        "topic": "",
        "payload": "[0,1,2,3,4,5,6,7,8,9]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 1280,
        "wires": [
            [
                "b2837466.e02a38"
            ]
        ]
    },
    {
        "id": "bd66f03e.bdf0c",
        "type": "debug",
        "z": "ac14500e.2c57d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 1280,
        "wires": []
    },
    {
        "id": "b2837466.e02a38",
        "type": "split",
        "z": "ac14500e.2c57d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 250,
        "y": 1280,
        "wires": [
            [
                "bd97c8ed.a5c8d8"
            ]
        ]
    },
    {
        "id": "8990635f.a45bb",
        "type": "comment",
        "z": "ac14500e.2c57d",
        "name": "Handle messages at a regular rate",
        "info": "",
        "x": 160,
        "y": 1340,
        "wires": []
    },
    {
        "id": "bd4bdd42.bd1b",
        "type": "delay",
        "z": "ac14500e.2c57d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 320,
        "y": 1380,
        "wires": [
            [
                "be20c513.237c78"
            ]
        ]
    },
    {
        "id": "8a1bcd7d.f6b67",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "Inject Array",
        "topic": "",
        "payload": "[0,1,2,3,4,5,6,7,8,9]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 1380,
        "wires": [
            [
                "bd4bdd42.bd1b"
            ]
        ]
    },
    {
        "id": "be20c513.237c78",
        "type": "debug",
        "z": "ac14500e.2c57d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 530,
        "y": 1380,
        "wires": []
    },
    {
        "id": "87129503.c7b358",
        "type": "rbe",
        "z": "ac14500e.2c57d",
        "name": "report-by-exception",
        "func": "deadband",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 300,
        "y": 1520,
        "wires": [
            [
                "5e2ffc27.c61dd4"
            ]
        ]
    },
    {
        "id": "6079638d.df403c",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 1500,
        "wires": [
            [
                "87129503.c7b358"
            ]
        ]
    },
    {
        "id": "2dc49f96.3070c",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 1540,
        "wires": [
            [
                "87129503.c7b358"
            ]
        ]
    },
    {
        "id": "5e2ffc27.c61dd4",
        "type": "debug",
        "z": "ac14500e.2c57d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 510,
        "y": 1520,
        "wires": []
    },
    {
        "id": "2bd6810d.e22ece",
        "type": "catch",
        "z": "fc046f99.4be08",
        "name": "",
        "scope": [
            "2c94a22c.91012e"
        ],
        "uncaught": false,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "d16b9fac.8212a"
            ]
        ]
    },
    {
        "id": "2c94a22c.91012e",
        "type": "function",
        "z": "fc046f99.4be08",
        "name": "Throw Error",
        "func": "node.error(\"an example error\", msg);   ",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d16b9fac.8212a",
        "type": "debug",
        "z": "fc046f99.4be08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "x": 300,
        "y": 160,
        "wires": []
    },
    {
        "id": "c5ee9670.5dbbd8",
        "type": "inject",
        "z": "fc046f99.4be08",
        "name": "Trigger error",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "2c94a22c.91012e"
            ]
        ]
    },
    {
        "id": "58f7476a.005d18",
        "type": "comment",
        "z": "fc046f99.4be08",
        "name": "Automatically retry an action after an error",
        "info": "",
        "x": 180,
        "y": 260,
        "wires": []
    },
    {
        "id": "139b836e.7950ed",
        "type": "catch",
        "z": "fc046f99.4be08",
        "name": "",
        "scope": [
            "d7d08440.31b678"
        ],
        "uncaught": false,
        "x": 90,
        "y": 380,
        "wires": [
            [
                "2166290d.98d736",
                "9c8ab214.0ecaa"
            ]
        ]
    },
    {
        "id": "d7d08440.31b678",
        "type": "function",
        "z": "fc046f99.4be08",
        "name": "Random error",
        "func": "// Randomly throw an error rather than\n// pass on message.\nif (Math.random() < 0.5) {\n   node.error(\"a random error\", msg);\n} else {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 320,
        "wires": [
            [
                "f22b1e9a.5d89b"
            ]
        ]
    },
    {
        "id": "27e61f12.c1a15",
        "type": "inject",
        "z": "fc046f99.4be08",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 320,
        "wires": [
            [
                "d7d08440.31b678"
            ]
        ]
    },
    {
        "id": "f22b1e9a.5d89b",
        "type": "debug",
        "z": "fc046f99.4be08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "2166290d.98d736",
        "type": "delay",
        "z": "fc046f99.4be08",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 240,
        "y": 380,
        "wires": [
            [
                "d7d08440.31b678"
            ]
        ]
    },
    {
        "id": "9c8ab214.0ecaa",
        "type": "debug",
        "z": "fc046f99.4be08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "x": 240,
        "y": 440,
        "wires": []
    },
    {
        "id": "634256b7.2d6818",
        "type": "inject",
        "z": "64133d39.bb0394",
        "name": "JSON String",
        "topic": "",
        "payload": "{\"a\":1}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "a2fe0fc8.095e1"
            ]
        ]
    },
    {
        "id": "a2fe0fc8.095e1",
        "type": "json",
        "z": "64133d39.bb0394",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "9a4ce2b8.47698"
            ]
        ]
    },
    {
        "id": "9a4ce2b8.47698",
        "type": "debug",
        "z": "64133d39.bb0394",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "80032e2.7c92cd",
        "type": "inject",
        "z": "64133d39.bb0394",
        "name": "Object",
        "topic": "",
        "payload": "{\"a\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "cd40a0f4.4f5ac"
            ]
        ]
    },
    {
        "id": "cd40a0f4.4f5ac",
        "type": "json",
        "z": "64133d39.bb0394",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 120,
        "wires": [
            [
                "478b4106.4fd7c"
            ]
        ]
    },
    {
        "id": "478b4106.4fd7c",
        "type": "debug",
        "z": "64133d39.bb0394",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "aa69f344.f8d1f",
        "type": "comment",
        "z": "64133d39.bb0394",
        "name": "Convert to/from YAML",
        "info": "",
        "x": 120,
        "y": 360,
        "wires": []
    },
    {
        "id": "16750af7.81dec5",
        "type": "inject",
        "z": "64133d39.bb0394",
        "name": "YAML String",
        "topic": "",
        "payload": "{\"a\":1}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "cf3ec6ca.341af8"
            ]
        ]
    },
    {
        "id": "ff2bdc86.6fca9",
        "type": "debug",
        "z": "64133d39.bb0394",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "3498b3bc.5789fc",
        "type": "inject",
        "z": "64133d39.bb0394",
        "name": "Object",
        "topic": "",
        "payload": "{\"a\":1, \"b\":[1,2,3]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 440,
        "wires": [
            [
                "c86f7734.23bbd8"
            ]
        ]
    },
    {
        "id": "9ea78caa.8a64f",
        "type": "debug",
        "z": "64133d39.bb0394",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 440,
        "wires": []
    },
    {
        "id": "cf3ec6ca.341af8",
        "type": "template",
        "z": "64133d39.bb0394",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "yaml",
        "syntax": "plain",
        "template": "a: 1\nb:\n  - 1\n  - 2\n  - 3",
        "output": "str",
        "x": 280,
        "y": 400,
        "wires": [
            [
                "87cb7d01.add34"
            ]
        ]
    },
    {
        "id": "c86f7734.23bbd8",
        "type": "yaml",
        "z": "64133d39.bb0394",
        "property": "payload",
        "name": "",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "9ea78caa.8a64f"
            ]
        ]
    },
    {
        "id": "87cb7d01.add34",
        "type": "yaml",
        "z": "64133d39.bb0394",
        "property": "payload",
        "name": "",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "ff2bdc86.6fca9"
            ]
        ]
    },
    {
        "id": "3fc8a8e1.994198",
        "type": "comment",
        "z": "64133d39.bb0394",
        "name": "Convert to/from XML",
        "info": "",
        "x": 120,
        "y": 200,
        "wires": []
    },
    {
        "id": "1b546d47.9474e3",
        "type": "inject",
        "z": "64133d39.bb0394",
        "name": "XML String",
        "topic": "",
        "payload": "{\"a\":1}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "d72b2bfd.77d068"
            ]
        ]
    },
    {
        "id": "1adf407d.6c4fe",
        "type": "debug",
        "z": "64133d39.bb0394",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "46638890.8ae758",
        "type": "inject",
        "z": "64133d39.bb0394",
        "name": "Object",
        "topic": "",
        "payload": "{\"note\":{\"$\":{\"priority\":\"high\"},\"to\":[\"Nick\"],\"from\":[\"Dave\"],\"heading\":[\"Reminder\"],\"body\":[\"Update the website\"]}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 280,
        "wires": [
            [
                "dae1d291.de0d2"
            ]
        ]
    },
    {
        "id": "6fefca67.3669e4",
        "type": "debug",
        "z": "64133d39.bb0394",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 280,
        "wires": []
    },
    {
        "id": "d72b2bfd.77d068",
        "type": "template",
        "z": "64133d39.bb0394",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "<note priority=\"high\">\n  <to>Nick</to>\n  <from>Dave</from>\n  <heading>Reminder</heading>\n  <body>Update the website</body>\n</note>",
        "output": "str",
        "x": 280,
        "y": 240,
        "wires": [
            [
                "1746464a.87aa4a"
            ]
        ]
    },
    {
        "id": "1746464a.87aa4a",
        "type": "xml",
        "z": "64133d39.bb0394",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "1adf407d.6c4fe"
            ]
        ]
    },
    {
        "id": "dae1d291.de0d2",
        "type": "xml",
        "z": "64133d39.bb0394",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 250,
        "y": 280,
        "wires": [
            [
                "6fefca67.3669e4"
            ]
        ]
    },
    {
        "id": "a48b7895.08f4d8",
        "type": "comment",
        "z": "64133d39.bb0394",
        "name": "Generate CSV output",
        "info": "",
        "x": 120,
        "y": 520,
        "wires": []
    },
    {
        "id": "457d9ad6.b737b4",
        "type": "inject",
        "z": "64133d39.bb0394",
        "name": "single",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 560,
        "wires": [
            [
                "1e05fafd.887b05"
            ]
        ]
    },
    {
        "id": "1e05fafd.887b05",
        "type": "change",
        "z": "64133d39.bb0394",
        "name": "Generate single payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 560,
        "wires": [
            [
                "e9546682.b39898"
            ]
        ]
    },
    {
        "id": "e9546682.b39898",
        "type": "csv",
        "z": "64133d39.bb0394",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": false,
        "multi": "one",
        "ret": "\\n",
        "temp": "a,b,c",
        "skip": "0",
        "x": 450,
        "y": 560,
        "wires": [
            [
                "f83ad3b0.78d32"
            ]
        ]
    },
    {
        "id": "f83ad3b0.78d32",
        "type": "debug",
        "z": "64133d39.bb0394",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 560,
        "wires": []
    },
    {
        "id": "ae242f2c.d1c8a",
        "type": "inject",
        "z": "64133d39.bb0394",
        "name": "array",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 620,
        "wires": [
            [
                "7535f521.4a88bc"
            ]
        ]
    },
    {
        "id": "7535f521.4a88bc",
        "type": "change",
        "z": "64133d39.bb0394",
        "name": "Generate array payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    { \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())},\t    { \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())},\t    { \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())},\t    { \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())}\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 620,
        "wires": [
            [
                "f4e0465f.ef0338"
            ]
        ]
    },
    {
        "id": "f4e0465f.ef0338",
        "type": "csv",
        "z": "64133d39.bb0394",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": true,
        "multi": "one",
        "ret": "\\n",
        "temp": "a,b,c",
        "skip": "0",
        "x": 450,
        "y": 620,
        "wires": [
            [
                "6eb67fdf.58626"
            ]
        ]
    },
    {
        "id": "6eb67fdf.58626",
        "type": "debug",
        "z": "64133d39.bb0394",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "3a561e7c.086d22",
        "type": "comment",
        "z": "64133d39.bb0394",
        "name": "Generate CSV output",
        "info": "",
        "x": 120,
        "y": 700,
        "wires": []
    },
    {
        "id": "73e4e16.4d9742",
        "type": "inject",
        "z": "64133d39.bb0394",
        "name": "Inject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 740,
        "wires": [
            [
                "2bef78fd.ae70f8"
            ]
        ]
    },
    {
        "id": "90ed51dc.dcc71",
        "type": "csv",
        "z": "64133d39.bb0394",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": false,
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "1",
        "x": 410,
        "y": 740,
        "wires": [
            [
                "9aace6e7.adc538"
            ]
        ]
    },
    {
        "id": "9aace6e7.adc538",
        "type": "debug",
        "z": "64133d39.bb0394",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 740,
        "wires": []
    },
    {
        "id": "2bef78fd.ae70f8",
        "type": "template",
        "z": "64133d39.bb0394",
        "name": "CSV data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "# This is some random data\na,b,c\n80,18,2\n52,36,10\n91,18,61\n32,47,65",
        "output": "str",
        "x": 260,
        "y": 740,
        "wires": [
            [
                "90ed51dc.dcc71"
            ]
        ]
    },
    {
        "id": "df6514f0.029748",
        "type": "inject",
        "z": "64133d39.bb0394",
        "name": "inject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "11f53f61.2f7be1"
            ]
        ]
    },
    {
        "id": "11f53f61.2f7be1",
        "type": "template",
        "z": "64133d39.bb0394",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "one\ntwo\nthree\nfour\nfive",
        "x": 240,
        "y": 880,
        "wires": [
            [
                "760c1d71.c29744"
            ]
        ]
    },
    {
        "id": "760c1d71.c29744",
        "type": "split",
        "z": "64133d39.bb0394",
        "name": "",
        "splt": "\\n",
        "x": 190,
        "y": 940,
        "wires": [
            [
                "3e427aac.9b9596"
            ]
        ]
    },
    {
        "id": "d44d4767.945fd8",
        "type": "join",
        "z": "64133d39.bb0394",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "timeout": "",
        "count": "",
        "x": 530,
        "y": 940,
        "wires": [
            [
                "bfe3e43b.85fa88"
            ]
        ]
    },
    {
        "id": "bfe3e43b.85fa88",
        "type": "debug",
        "z": "64133d39.bb0394",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 940,
        "wires": []
    },
    {
        "id": "3e427aac.9b9596",
        "type": "change",
        "z": "64133d39.bb0394",
        "name": "Prepend line number",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(parts.index+1) & \": \" & payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 940,
        "wires": [
            [
                "d44d4767.945fd8"
            ]
        ]
    },
    {
        "id": "9ccdf268.c96ff",
        "type": "inject",
        "z": "ac14500e.2c57d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 1660,
        "wires": [
            [
                "38950a5.28d15f6",
                "2c532f67.0330e"
            ]
        ]
    },
    {
        "id": "38950a5.28d15f6",
        "type": "debug",
        "z": "ac14500e.2c57d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 1660,
        "wires": []
    },
    {
        "id": "2c532f67.0330e",
        "type": "trigger",
        "z": "ac14500e.2c57d",
        "op1": "reset",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 260,
        "y": 1700,
        "wires": [
            [
                "e4e42b96.97a338"
            ]
        ]
    },
    {
        "id": "e4e42b96.97a338",
        "type": "trigger",
        "z": "ac14500e.2c57d",
        "op1": "0",
        "op2": "0",
        "op1type": "num",
        "op2type": "str",
        "duration": "-2",
        "extend": false,
        "units": "s",
        "reset": "reset",
        "bytopic": "all",
        "name": "",
        "x": 420,
        "y": 1700,
        "wires": [
            [
                "38950a5.28d15f6"
            ]
        ]
    }
]